.top, .sect, #mainBody{
 background: rgb(250, 250, 250);
}



.navDivider, .navDivider_1{
 height: 25px;
 background-color: rgb(160, 198, 63);
}

.navDivider_1{
 border-top: 1px solid rgb(250, 250, 250);
}

#logo{
 height: 80px;
 width: auto;

}



.navList a{
 text-decoration: none;
color: slategray;
}

.main{
 background-color: rgb(255, 255, 255);
}

.pdate{
 border-bottom: 1px solid lightslategray;
}
#phone{
 text-decoration: none;
}

.foot{
 background-color: black;
 color: azure;
}
.sitemap a {
 text-decoration: none;
 color:azure ;
}
.sitemap a:visited{
 color: azure;
}

.social_icons img{
 height: 20px;
 opacity: .5;
 padding-right: 15px;
}

.bt1{
 background-color: rgb(160, 198, 63);
 color: azure;
}
.backToTop img{
 height: 15px;
 opacity: .6;
}
.backToTop{
 height: 30px;
 width: 30px;
 background-color: rgb(160, 198, 63);
 border-radius: 100%;
 border: none;
}

.sect{
padding-bottom: 30px;
}

.mainContent p, .sideContent{
 border-bottom: 3px dashed rgb(191, 188, 188);
 padding: 5px;
}
.emptybox{
 height: 80px;
 width: 350px;
 border: 2px solid black;
}




.heroContainer{
 background: rgb(160, 198, 63);
 padding: 5px;
 width: 100vw;
}

.webLogos img{
 height: 175px;
 width: auto;
}

.highlight{
 color: rgb(160, 198, 63);
}

.box1{
 background: white;
}

.boxButton{
 background: rgb(160, 198, 63);
 border: none;
 color: white;
}
